// product-card
.product-card {
    .card-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: $X-large 0;
        @include pad {
            padding: $large 0;
        }
        @include mobile {
            padding: $small 0;
        }
    }
    .card {
        width: 32%;
        @include mobile {
            width: 100%;
            padding: 0 $small;
            & + .card {
                margin-top: $small;
            }
        }
    }
    .pic {
        height: 600px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @include pad {
            height: 320px;
        }
        @include mobile {
            height: 240px;
        }
    }
    .pic-one {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img5.jpg");
    }
    .pic-two {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img6.jpg");
    }
    .pic-three {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img7.jpg");
    }
    .title {
        color: $color-primary;
        font: italic normal 900 24px/31px Merriweather;
        margin: $middle 0 $small;
        @include pad {
            font: italic normal 900 24px/24px Merriweather;
            margin: $small 0;
        }
        @include mobile {
            font: italic normal 900 20px/20px Merriweather;
            margin: 8px 0;
            padding: 0 $small;
        }
    }
    .subtitle {
        color: $color-secondary;
        font: normal normal normal 16px/24px Lato;
        margin-bottom: $small;
        @include pad {
            font: normal normal normal 16px/20px Lato;
            margin-bottom: 8px;
        }
        @include mobile {
            font: normal normal normal 14px/16px Lato;
            padding: 0 $small;
        }
    }
    .text {
        font: normal normal normal 16px/24px Lato;
        @include pad {
            font: normal normal normal 16px/20px Lato;
        }
        @include mobile {
            display: none;
        }
    }
}
