// product-intro
.product-intro {
    .item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    .pic {
        width: 50%;
        height: 960px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @include pad {
            height: 480px;
        }
        @include mobile {
            width: 100%;
            height: 360px;
        }
    }
    .pic-one {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img2.jpg");
    }
    .pic-two {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img3.jpg");
    }
    .content {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-muted;
    }
    .text-group {
        width: 70%;
        height: 100%;
        padding: $X-large 0 192px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include pad {
            width: 90%;
            padding: $large 0 $X-large 0;
        }
        @include mobile {
            width: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            justify-content: center;
        }
    }
    .text {
        width: 80%;
        color: $color-secondary;
        font: normal normal normal 16px/24px Lato;
        @include pad {
            width: 90%;
        }
        @include mobile {
            display: none;
        }
    }
    .title {
        color: $color-primary;
        font: italic normal 900 72px/72px Merriweather;
        text-align: right;
        @include pad {
            font: italic normal 900 36px/36px Merriweather;
        }
        @include mobile {
            color: $color-muted;
            font: italic normal 900 24px/32px Merriweather;
            text-align: center;
        }
    }
    .text-align-left {
        text-align: left;
        @include mobile {
            text-align: center;
        }
    }

    .order {
        order: 1;
        @include mobile {
            order: -1;
        }
    }
    .padding-reverse {
        padding: 192px 0 $X-large 0;
        @include pad {
            padding: $X-large 0 $large 0;
        }
        @include mobile {
            padding: 0;
        }
    }
    .align-self-end {
        align-self: flex-end;
    }
    .block {
        display: block;
        margin-top: $middle;
        @include pad {
            margin-top: $small;
        }
        @include mobile {
            display: inline-block;
        }
    }
    .mt-sm {
        @include mobile {
            margin-top: 16px;
        }
    }
    .readMore {
        width: 12%;
        height: 60px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: translateX(-20%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include pad {
            height: 40px;
            width: 24%;
        }
        @include mobile {
            width: 36%;
            transform: translate(0, 150%);
        }
        .text {
            width: 70%;
            padding: $small 0 $small 0;
            text-align: center;
            color: $color-primary;
            // border: 1px solid $color-primary;
            font: normal normal bold 24px/24px Lato;
            @include pad {
                font: normal normal bold 16px/16px Lato;
                padding: 15px 0;
            }
            @include mobile {
                display: block;
                font: normal normal bold 14px/14px Lato;
            }
        }
        .fas {
            width: 30%;
            padding: $small 0;
            font-size: 24px;
            text-align: center;
            border: 1px solid $color-primary;
            @include pad {
                font-size: 20px;
                padding: 14px 0;
            }
            @include mobile {
                font-size: 16px;
            }
        }
        .bg-secondary {
            background-color: $color-muted;
            @include mobile {
                background-color: $color-muted;
            }
        }
        .bg-black {
            background-color: $color-primary;
            @include mobile {
                background-color: $color-muted;
            }
        }
        .text-light {
            color: #fff;
            @include mobile {
                background-color: #aaa;
            }
        }
        .text-black {
            color: $color-primary;
        }
    }
}
